<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Contact</title>
</head>
<body>
<form action="/api/v1/allcontacts" method="POST">
    <label>Username : </label>
    <input type="text" placeholder="Enter Username" name="uname">
    <br>
    <br>
    <label>Email : </label>
    <input type="text" placeholder="Enter Email" name="email">
    <br>
    <br>
    <lable>First Name : </lable>
    <input type="text" placeholder="Enter First Name" name="fname">
    <br>
    <br>
    <lable>Surname : </lable>
    <input type="text" placeholder="Enter Surname" name="sname">
    <br>
    <input type="submit" value="Create">
</form>
</body>
</html>
